extends layouts/main

block content
  .form-container
    form(action=routes.upload, method="post")
      label(for="upload") Video upload
      input(type="file", name="videoFile")
      input(type="text", placeholder="Title", name="videoName")
      input(type="textarea", placeholder="Description", name="videooDesc")
      input(type="submit", value="Upload video")
  